

<ul class="navbar-nav ms-auto align-items-center">
    @if (Context.User.Identity.Name != null)
    {
        <li class="nav-item me-3">
            <a class="nav-link" asp-area="" asp-controller="User" asp-action="Details" style="color: #4CAF50;">Hello, @User.Identity?.Name</a>
        </li>

        <li class="nav-item">
            <form class="form-inline" asp-area="" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-primary">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-primary" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-primary" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    }
</ul>
